</h1>Hello CodePath</h1>

<p>Note: Taking a break at 3 hours in... back soon.</p>
<h2>What I've done so far:</h2>
<ul>
    <li>Created a new Rails app</li>
    <li>A way for teachers to sign up and create their accounts</li>
    <li>Document upload and storage (local)</li>
    <li>Display Markdown documents as web pages</li>
    <li>Each file should be accessible on the public web via a unique URL</li>
</ul>
<h2>Next up:</h2>
<ul>
    <li>Student accounts</li>
    <li>Access controls</li>
    <li>Admin interface for us to manage teacher accounts</li>
    <li>Folders of files</li>
    <li>Students being able to view a list of files in a folder</li>
</ul>
