</h1>Hello CodePath</h1>

<p>Now at 4.5 hours. Have to stop again for a prior commitment.</p>

<h2>What I've done so far (barebones/unstyled):</h2>
<ul>
    <li>Created a new Rails app</li>
    <li>A way for teachers to sign up and create their accounts</li>
    <li>Document upload and storage (local)</li>
    <li>Display Markdown documents as web pages</li>
    <li>Each file should be accessible on the public web via a unique URL</li>
    <li>Access controls</li>
    <li>Admin interface for us to manage teacher accounts</li>
    <li>Student accounts (just the student role, so far)</li>
</ul>

<h2>Next up:</h2>
<ul>
    <li>Folders of files</li>
    <li>Students being able to view a list of files in a folder</li>
    <li>View metrics for documents</li>
    <li>Revision history</li>
</ul>
