<div id="<%= dom_id document %>">
  <p>
    <strong>Title:</strong>
    <%= document.title %>
  </p>

  <% if document.file.attached? %>
  <p>
    <strong>File:</strong>
    <%= link_to document.file.filename, document_path(document, format: :preview) %>
  </p>
  <% end %>
</div>
