<h1>Editing document</h1>

<%= render "form", document: @document, folder: @folder %>

<br/>

<div>
  <%= link_to "Show this document", @document %> |
  <% destination = @folder ? folder_documents_path(@folder) : documents_path %>
  <%= link_to "Back to documents", destination %>
</div>
