<h1>New Document</h1>

<%= render "form", document: @document, folder: @folder %>

<br/>

<div>
  <% destination = @folder ? folder_documents_path(@folder) : documents_path %>
  <%= link_to "Back to documents", destination %>
</div>
