<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>File</th>
      <th>Views</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <%= render(@document) %>
  </tbody>
</table>

<div>
  <% destination = @folder ? folder_documents_path(@folder) : documents_path %>
  <p><%= link_to "Back to documents", destination %></p>
</div>
